@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	width: 1884px;
}

a {
	text-decoration: none;
}

/*正常的未被访问过的链接*/
a:link {
	text-decoration: none;
}

/*已经访问过的链接*/
a:visited {
	text-decoration: none;
}

/*鼠标划过(停留)的链接*/
a:hover {
	text-decoration: none;
}

/* 正在点击的链接*/
a:active {
	text-decoration: none;
}

h3 {
	text-align: center;
	line-height: 70px;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none
}

img {
	max-width: 100%;
	max-height: 100%;
}

#h_container {
	background-color: #F6F6F6;
}

#h_left {
	/*border: solid 2px saddlebrown;*/
}

#h_center {
	/*border: solid 2px skyblue;*/
	margin: 0 auto;
}

#h_right {
	/*border: solid 2px lawngreen;*/
}

#h_top {
	height: 150px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	border-bottom: solid 5px steelblue;
}

#h_center_classify {
	height: 650px;
	margin-bottom: 15px;
	background-color: #FFFFFF;
	border: solid 1px bisque;
}

#h_center_wares {
	margin-bottom: 15px;
	background-color: #FFFFFF;
	border: solid 1px bisque;
}

#h_center_footer {
	height: 120px;
	background-color: #FFFFFF;
	border: solid 1px bisque;
}

#h_logo {
	width: 250px;
	height: 90px;
	margin-top: 30px;
	margin-bottom: 30px;
	/*border: solid 2px springgreen;*/
}

#h_search {
	height: 130px;
	/*border: solid 2px slateblue;*/
}

#h_search div {
	margin-top: 40px;
}

.textRule {
	display: block;
	height: 47px;
	box-shadow: 3px 3px 5px #F5DEB3;
}

.bd {
	height: 480px;
}

.bd:hover {
	border: solid 2px #FF5000;
}

.waresImg {
	width: 350px;
	height: 350px;
}

.mgImg {
	margin-top: 10px;
}

.hvImg:hover {
	transform: scale(1.05);
	transition: 0.4s linear;
}

.textFont {
	font-size: 19px;
	font-family: "宋体";
	color: black;
}

.waresTitle {
	border-left: 5px solid #00FF7F;
	padding: 15px;
}

.fade {
	opacity: 0;
}

.show {
	opacity: 1;
}

div#banner {
	margin-top: 40px;
	width: 900px;
}

div.carousel-inner div {
	height: 565px;
}

div.carousel-inner img {
	width: 100%;
	height: 100%;
}

.backTop {
	width: 80px;
	height: 100px;
	position: fixed;
	bottom: 60px;
	right: 35px;
}

#h_personal {
	width: 55px;
	height: 250px;
	border: solid 2px sandybrown;
	position: fixed;
	top: 220px;
	right: 100px;
	border-radius: 15px;
}

#h_personal div {
	width: 50px;
	height: 45px;
	margin: 10px;
}

div ul {
	margin-top: 15px;
	margin-left: 25px;
}

ul li {
	margin-top: 15px;
}

li a {
	color: #666666;
	font-family: "楷体";
	font-size: 22px;
	margin-top: 15px;
	margin-left: 10px;
}

li a:hover {
	color: lightsteelblue
}

#adImg {
	padding-top: 40px;
	padding-bottom: 40px;
}

#adImg div:first-child {
	margin-bottom: 40px;
}

#adImg div:last-child {
	margin-top: 40px;
}
